p {
  $font-size: null;
  $font-size: 12px default;
  $font-size: 20px;

  $line-height: 30px;
  font: #{$font-size}/#{$line-height};
}

div {
  $attr: border;
  $red-color: #ff0000;
  #{$attr}-color: $red-color;
}
