$stoneBlack: #434343;
$stoneGray: #686868;
$stoneCoolWhite: #e8e8e8;
$stoneLabelFont: Verdana, Geneva, "黑体", "微软雅黑", sans-serif;
$stoneFontForSmall: "微软雅黑", "黑体", sans-serif;
$stoneHandwrittenFont: "楷体", "楷体_GB2312", "宋体", cursive;
